
    <div class="row">
        <div class="col-md-6"><h4 class="text-primary text-center">Сохранить отклик</h4></div>
        <div class="col-md-2"><input type="button" class="btn btn-success" value="СОХРАНИТЬ" /></div>
        <div class="col-md-2"><input type="button" class="btn btn-warning" value="СОРВАЛСЯ" /></div>
        <div class="col-md-2"><input type="button" class="btn btn-danger" value="ОТКАЗ" /></div>
    </div>
