@{
    ViewData["Title"] = "Home Page";
}

<div class="py-5 text-center">
    <h3>Здесь можно вставить логотип</h3>
    <p class="lead">
        Ретеншн Юнит. Для сохранения клиента
        Нужен какой-то текст или убрать.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="content">
            <div class="row">
                <div class="col-md-12 mb-1">
                    <h4 class="">Введите данные клиента</h4>
                    <form class="needs-validation" id="searchform" novalidate>
                        <div class="row" id="searchEvent">
                            <div class="invalid-feedback">Необхдимо указать либо ФИО или Мобильный номер или IBSO-ID</div>
                            <input type="hidden" name="start" value="START" />
                            <div class="col-md-8 mb-3">
                                <label for="fullname">ФИО Клиента</label>
                                <input type="text" class="form-control" name="FullName" id="fullname">
                                <div class="invalid-feedback">Ввидете полное ФИО клиента</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="ibsoid">IBSO_ID</label>
                                <input type="text" class="form-control" name="Ibso" id="ibsoid">
                                <div class="invalid-feedback">Ввидете IBSO-ID Клиента</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="birthdate">Дата рождения</label>
                                <input type="text" class="form-control" name="BirthDate" id="birthdate" data-inputmask="'mask': '99.99.9999'">
                                <div class="invalid-feedback">Укажите дату рождения</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phonenumber">Номер мобильного телефона</label>
                                <input type="text" class="form-control" id="phonenumber" name="Phone" data-inputmask="'mask': '+7(999)999-99-99'">
                                <div class="invalid-feedback">Укажите номер Мобильного телефона</div>
                            </div>
                            <input type="hidden" id="end" name="end" value="END" />
                        </div>
                        <button class="btn btn-primary" type="submit">ПОИСК</button>
                    </form>
                </div>
            </div>
            <br />
            <br />
            <div class="row d-none" id="clientInfo">
                <div class="col-md-12 alert alert-success">
                    <h4 class="mb-3">Найденные клиенты</h4>
                    <div class="panel panel-info">
                        <form class="">
                            <h6 class="alert alert-info">Фильтр по параметрам</h6>
                            <div class="row">
                                <div class="dropdown col-md-3 mb-1">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuPhone" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Мобильный
                                    </button>
                                    <div class="dropdown-menu" id="dropMobile" aria-labelledby="dropdownMenuPhone">
                                    </div>
                                </div>
                                <div class="dropdown col-md-3 mb-1">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuPassport" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Паспорт
                                    </button>
                                    <div class="dropdown-menu" id="dropPassport" aria-labelledby="dropdownMenuPassport">
                                    </div>
                                </div>
                                <div class="dropdown col-md-3 mb-1">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuBirth" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Дата Рождения
                                    </button>
                                    <div class="dropdown-menu" id="dropBirth" aria-labelledby="dropdownMenuBirth">
                                    </div>
                                </div>
                                <div class="col-md-3 mb-1">
                                    <button class="btn btn-info" type="button" id="filterClear">
                                        Сбросить Фильтр
                                    </button>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="input-group row col-md-12" id="foundedClients" style="margin-left:5px; overflow-y: scroll; height:250px;">
                                    <div class='clientsRows row col-md-12 alert alert-warning'>
                                        <div class='col-md-1'>Выбор</div>
                                        <div class='col-md-3'>ФИО</div>
                                        <div class='col-md-2'>ДАТА</div>
                                        <div class='col-md-2'>МОБИЛЬНИК</div>
                                        <div class='col-md-2'>ПАСПОРТ</div>
                                        <div class='col-md-2'>ГОРОД</div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <button class="btn btn-primary" id="selectClient" type="button">ВЫБРАТЬ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p><div></div></p>
<script>
    var test;
    var test2;
    var test3;
    var test4;
    var test5;

    (function () {
        'use strict';
        window.addEventListener('load', function () {
            //$("#span.serMob").on('click', function () {
            //    console.log("startquestion");
            //    $("#StartQuestions").addClass("d-none");
            //    $("#SelectQuestion").removeClass("d-none");
            //    question.questionSelected(1);
            //});
            $("input.serMob").on('click', function () {
                console.log('tsetM');
                let searchName = this.text();
                $(".clientsRows").removeClass('d-none')
                $.each($(".SclMob"), function (index, value) {
                    if (searchName != value.text()) {
                        value.parent.parent.addClass('d-none');
                    }
                });
            });
            $("input.serPas").on('click', function () {
                console.log('tsetP');
                let searchName = this.text();
                console.log(searchName);
                $(".clientsRows").removeClass('d-none')
                $.each($(".SclPas"), function (index, value) {
                    console.log(value.text());
                    if (searchName != value.text()) {
                        value.parent.parent.addClass('d-none');
                    }
                });
            });
            $("input.serBir").on('click', function () {
                console.log('tsetB');
                let searchName = this.text();
                $(".clientsRows").removeClass('d-none')
                $.each($(".SclBir"), function (index, value) {
                    if (searchName != value.text()) {
                        value.parent.parent.addClass('d-none');
                    }
                });
            });
            var model = {
                searchM: [],
                searchP: [],
                searchB: [],
                appendText: function (div, text, index) {
                    div.append("<p class=''><label for='clients_" + index + "'>" + text + "</label></p>");
                },
                appendRadio: function (div, text, index) {
                    div.append("<p class=''><label><input type='radio' class='radioClient' name='clients_ibso' value=" + text + " id='clients_" + index + "'></label></p>");
                },
                appendClient: function (div, client, index) {
                    div.append("<div class='clientsRows row col-md-12'><div class='col-md-1'><input type='radio' class='radioClient' name='clients_ibso' value=" + client.ibsoid + " id='clients_" + index + "'></div><div class='col-md-3'><lable for='clients_" + index + "'>" + client.fullName + "</label></div><div class='col-md-2'><lable class='SclBir' for='clients_" + index + "'>" + client.birthDate + "</label></div><div class='col-md-2'><lable class='SclMob' for='clients_" + index + "'>" + client.phone + "</label></div><div class='col-md-2'><lable class='SclPas' for='clients_" + index + "'>" + client.passport + "</label></div><div class='col-md-2'><lable for='clients_" + index + "'>" + client.birthPlace +"</label></div></div>");
                },
                appendSearch: function (div, aarray, cl) {
                    $.each(aarray, function (index, text) {
                        //div.append("<a class='dropdown-item " + cl + "' href='javascript:void(0)' onClick='console.log('testttttt'); return false;' >" + text + "</a>");
                        div.append("<input type='button' data-id='" + cl + "' onClick='retention.filterClick($(this))' class='dropdown-item ' value='" + text + "' >");
                    });
                },
                getDistinct: function (arrayy) {
                    let flags = [], l = arrayy.length, i;
                    for (i = 0; i < l; i++) {
                        if (!flags[arrayy[i].phone]) {
                            flags[arrayy[i].phone] = true;
                            model.searchM.push(arrayy[i].phone);

                        };
                        if (!flags[arrayy[i].birthDate]) {
                            flags[arrayy[i].birthDate] = true;
                            model.searchB.push(arrayy[i].birthDate);

                        };
                        if (!flags[arrayy[i].passport]) {
                            flags[arrayy[i].passport] = true;
                            model.searchP.push(arrayy[i].passport);

                        };
                        continue
                    }
                },
                clearText: function () {
                    $("#clientRadio").empty();
                    $("#clientFIO").empty();
                    $("#clientDate").empty();
                    $("#clientPhone").empty();
                    $("#clientPasport").empty();
                    $("#clientBirthPlace").empty();
                },
                clientSelected: function (params) {
                    $.get("/Home/SelectedClient", { ibsoid: params }, function (data) {
                        $('#content').html(data);
                    });
                }
            };

            $(":input").inputmask();
            $("#ibsoid").inputmask("9999999999999999", { "placeholder": "" });
            $('#birthdate').inputmask({ "mask": "99.99.9999", "placeholder": 'MM.DD.YYYY' });
            $('#selectClient').on('click', function () {
                model.clientSelected($(".radioClient").val());
            });
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    $("#clientInfo").addClass("d-none");
                    $("#filterClear").on('click', function () {
                        console.log('tsetC');
                        $(".clientsRows").removeClass('d-none');
                    });
                    

                    // Loop over them and prevent submission
                    if ($("#fullname").val() != '' || $("#ibsoid").val() != '' || $("#phonenumber").val().replace(/[^0-9]/gi, '').length == 11) {
                        $("#fullname").prop('required', false);
                        $("#ibsoid").prop('required', false);
                        $("#phonenumber").prop('required', false);
                    } else {
                        $("#fullname").prop('required', true);
                        $("#ibsoid").prop('required', true);
                        $("#phonenumber").prop('required', true);
                    }
                    if (form.checkValidity() === false) {
                        event.stopPropagation();
                    } else {
                        var params = JSON.stringify($("#searchform").serialize());
                        $.ajax({
                            url: "/Home/FindClient",
                            type: "POST",
                            data: params,
                            failure: function (errMsg) {
                                alert(errMsg);
                            },
                            success: function (data) {
                                $("#clientInfo").removeClass("d-none");
                                model.clearText();
                                test2 = data.clients;
                                if (data.clients.length > 1) {
                                    let arr = data.clients;
                                    model.getDistinct(arr);
                                    let m = "SclMob";
                                    let p = "SclPas";
                                    let b = "SclBir";
                                    if (model.searchM.length > 0) {
                                        model.appendSearch($("#dropMobile"), model.searchM, m);
                                    };
                                    if (model.searchP.length > 0) {
                                        model.appendSearch($("#dropPassport"), model.searchP, p);
                                    };
                                    if (model.searchB.length > 0) {
                                        model.appendSearch($("#dropBirth"), model.searchB, b);
                                    };
                                    $.each(data.clients, function (index, value) {
                                        test = value;
                                        model.appendClient($("#foundedClients"), value, index);
                                    });
                                    $("#clients_0").prop('checked', true);
                                } else {
                                    console.log("Single");
                                    model.clientSelected(value.ibso);
                                }
                            }
                        });
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>