@{
    ViewData["Title"] = "Home Page";
}

<div class="py-5 text-center">
    <h3>Здесь можно вставить логотип</h3>
    <p class="lead">
        Ретеншн Юнит. Для сохранения клиента
        Нужен какой-то текст или убрать.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="content">
            <div class="row">
                <div class="col-md-12 mb-1">
                    <h4 class="">Введите данные клиента</h4>
                    <form class="needs-validation" id="searchform" novalidate>
                        <div class="row" id="searchEvent">
                            <div class="invalid-feedback">Необхдимо указать либо ФИО или Мобильный номер или IBSO-ID</div>
                            <input type="hidden" name="start" value="START" />
                            <div class="col-md-8 mb-3">
                                <label for="fullname">ФИО Клиента</label>
                                <input type="text" class="form-control" name="FullName" id="fullname">
                                <div class="invalid-feedback">Ввидете полное ФИО клиента</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="ibsoid">IBSO_ID</label>
                                <input type="text" class="form-control" name="Ibso" id="ibsoid">
                                <div class="invalid-feedback">Ввидете IBSO-ID Клиента</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="birthdate">Дата рождения</label>
                                <input type="text" class="form-control" name="BirthDate" id="birthdate" data-inputmask="'mask': '99.99.9999'">
                                <div class="invalid-feedback">Укажите дату рождения</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="phonenumber">Номер мобильного телефона</label>
                                <input type="text" class="form-control" id="phonenumber" name="Phone" data-inputmask="'mask': '+7(999)999-99-99'">
                                <div class="invalid-feedback">Укажите номер Мобильного телефона</div>
                            </div>
                            <input type="hidden" id="end" name="end" value="END" />
                        </div>
                        <button class="btn btn-primary" type="submit">ПОИСК</button>
                    </form>
                </div>
            </div>
            <br />
            <br />
            <div class="row d-none" id="clientInfo">
                <div class="col-md-12 alert alert-success">
                    <h4 class="mb-3">Найденные клиенты</h4>
                    <div class="panel panel-info">
                        <form class="">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="col-md-1" id="clientRadio">
                                    </div>
                                    <div class="col-md-3" id="clientFIO">
                                    </div>
                                    <div class="col-md-2" id="clientDate">
                                    </div>
                                    <div class="col-md-2" id="clientPhone">
                                    </div>
                                    <div class="col-md-2" id="clientPasport">
                                    </div>
                                    <div class="col-md-2" id="clientBirthPlace">
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary" id="selectClient" type="button">ВЫБРАТЬ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var test;
    var test2;
    (function () {
        'use strict';
        window.addEventListener('load', function () {

            var model = {
                appendText: function (div, text, index) {
                    div.append("<p class=''><label for='clients_" + index + "'>" + text + "</label></p>");
                },
                appendRadio: function (div, text, index) {
                    div.append("<p class=''><label><input type='radio' class='radioClient' name='clients_ibso' value=" + text + " id='clients_" + index + "'></label></p>");
                },
                clearText: function () {
                    $("#clientFIO").empty();
                    $("#clientDate").empty();
                    $("#clientPhone").empty();
                    $("#clientPasport").empty();
                    $("#clientBirthPlace").empty();
                },
                clientSelected: function (params) {
                    $.get("/Home/SelectedClient", { ibsoid: params }, function (data) {
                        $('#content').html(data);
                    });
                }
            };

            $(":input").inputmask();
            $("#ibsoid").inputmask("9999999999999999", { "placeholder": "" });
            $('#birthdate').inputmask({ "mask": "99.99.9999", "placeholder": 'MM.DD.YYYY' });
            $('#selectClient').on('click', function () {
                model.clientSelected($(".radioClient").val());
            });
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    event.preventDefault();
                    $("#clientInfo").addClass("d-none");
                    // Loop over them and prevent submission
                    if ($("#fullname").val() != '' || $("#ibsoid").val() != '' || $("#phonenumber").val().replace(/[^0-9]/gi, '').length == 11) {
                        $("#fullname").prop('required', false);
                        $("#ibsoid").prop('required', false);
                        $("#phonenumber").prop('required', false);
                    } else {
                        $("#fullname").prop('required', true);
                        $("#ibsoid").prop('required', true);
                        $("#phonenumber").prop('required', true);
                    }
                    if (form.checkValidity() === false) {
                        event.stopPropagation();
                    } else {
                        var params = JSON.stringify($("#searchform").serialize());
                        $.ajax({
                            url: "/Home/FindClient",
                            type: "POST",
                            data: params,
                            failure: function (errMsg) {
                                alert(errMsg);
                            },
                            success: function (data) {
                                $("#clientInfo").removeClass("d-none");
                                model.clearText();
                                test2 = data.clients;
                                if (data.clients.length > 1) {
                                    console.log("multiply");
                                    $.each(data.clients, function (index, value) {
                                        test = value;
                                        model.appendRadio($("#clientRadio"), value.ibso, index);
                                        model.appendText($("#clientFIO"), value.fullName, index);
                                        model.appendText($("#clientDate"), value.birthDate.slice(0, -9), index);
                                        model.appendText($("#clientPhone"), value.phone, index);
                                        model.appendText($("#clientPasport"), value.passport, index);
                                        model.appendText($("#clientBirthPlace"), value.birthPlace, index);
                                    });
                                    $("#clients_0").prop('checked', true);
                                } else {
                                    console.log("Single");
                                    model.clientSelected(value.ibso);
                                }
                            }
                        });
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>